/*
COLORS:

body-grey: #595e6f
main-black: #33373b
main-white: white
highlight-green: #00ff00

*/

/* Universal Setup */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* Global Font Size */
html {
  font-size: 62.5%; /* Changes default font size to 10px */ 
}

/* Body Attributes */
body {
  background-color: #595e6f;
  padding-left: 27.2rem;
  padding-right: 27.2rem;

  box-sizing: border-box;
}


h3 {
  font-family: Raleway;
  color: white;
  font-size: 4rem;
  margin-top: 2.4rem;
}

p {
  color: white;
}

ul {
  color: white;
}

.webaddress-phone {
  font-family: Raleway;
  background-color: #33373b;
  display: flex;
  justify-content: space-around;
  color: white;
  font-size: 2.4rem;
  padding-top: 4.8rem;
  padding-bottom: 1.6rem;
}

.card-title__name {
  font-family: Raleway;
  font-size: 8rem;
  text-transform: capitalize;
  border-bottom: 3px solid #00ff00;
  padding-top: 3.2rem;
}

.card-title,
.card-description {
  display: flex;
  justify-content: center;
  background-color: #33373b;
}

.card-services {
  display: flex;
  justify-content: space-around;
  padding: 4.8rem;
  background-color: #33373b;
}

.card-services__design,
.card-services__develop,
.card-services__maintain {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.solution-description {
  font-family: Raleway;
  display: flex;
  justify-content: center;
  font-size: 3.2rem;
  color: white;
  background-color: #33373b;
}

.card-description__name {
  font-family: Lato;
  color: white;
  font-family: Lato;
  font-size: 4.8rem;
  font-weight: 300;
}

.card-description-text {
  font-family: Lato;
  display: flex;
  justify-content: center;
  font-size: 2.72rem;
  padding: 3.2rem 12.8rem;
  background-color: #33373b;
}

.services-listing {
  font-family: Lato;
  display: flex;
  justify-content: center;
  font-size: 2.72rem;
  padding: 1.6rem auto;
  background-color: #33373b;
}

.about-me {
  background-color: white;
}

.about-me__header {
  display: flex;
  justify-content: center;
  font-family: Raleway;
  font-size: 4rem;
  padding-top: 1.6rem;
}

.profile-container {
  display: flex;
  flex-direction: row;
  padding: 1.6rem;
}

.rob-pic {
  width: 14.4rem;
  height: 14.4rem;
  padding: .8rem;
  border-radius: 50%;
}

.profile-text__text {
  font-family: Lato;
  font-size: 1.92rem;
  color: #33373b;
}

.hire-me__button {
  display: flex;
  justify-content: center;
  background-color: white;
  padding-bottom: 1.6rem;
}

.hire-me__button:hover {
  
}

.hire-me__button-button {
  font-family: Raleway;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1.6rem 1.6rem;
  border: 2px solid black;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

.hire-me__button-button:hover {
  background-color: #595e6f;
  color: white;
}

.ask-me {
  font-family: Raleway;
  display: flex;
  justify-content: center;
  font-size: 3.52rem;
  padding-top: 3.2rem;
  background-color: #33373b;
}

.contact-info {
  display: flex;
  justify-content: center;
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
  background-color: #33373b;
}

.contact-info__button {
  width: 45%;
  font-size: 2.4rem;
  text-decoration: none!important;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  background-color: #00ff00;
}

.contact-info__button:hover {
  background-color: transparent;
  border: 2px solid white;
}

.contact-button {
  display: flex;
  justify-content: center;
  font-family: Raleway;
  color: black;
  text-decoration: none;
}

.contact-button:hover {
  color: white;
}

.contact-me {
  font-family: Raleway;
  font-size: 3.2rem;
  font-weight: 400;
  padding-top: 1.6rem;
  margin-bottom: 1.6rem;
  background-color: #33373b;
}

.social-media-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #33373b;
  width: 100%;
  color: white;
}

.contact-links {
  display: flex;
  flex-direction: row;
  color: white;
  background-color: #33373b;
}

a {
  color: white;
}

.github,
.twitter,
.facebook {
  font-size: 4.8rem;
  padding: 2.4rem;
}

.fa-github-alt:hover {
  color: #00ff00;
}

.fa-twitter:hover {
  color: #00ff00;
}

.fa-facebook-f:hover {
  color: #00ff00;
}

.first-name {
  color: #00ff00;
  text-transform: uppercase;
}

.last-name {
  color: white;
  text-transform: uppercase;
  font-weight: 300;
}

.fa-paint-brush:before {
  content: "\f1fc";
  color: #00ff00;
  font-size: 4.8rem;
}

.fa-code:before {
  content: "\f1fc";
  color: #00ff00;
  font-size: 4.8rem;
}

.fa-cogs:before {
  content: "\f1fc";
  color: #00ff00;
  font-size: 4.8rem;
}